<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet-mapping>
        <servlet-name>testDB</servlet-name>
        <url-pattern>/testDB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:derby://localhost:1527/BooksDB</param-value>
        </init-param>
        <init-param>
            <description>Username</description>
            <param-name>dbUser</param-name>
            <param-value>user1</param-value>
        </init-param>
        <init-param>
            <description>Database Password</description>
            <param-name>dbPassword</param-name>
            <param-value>password</param-value>
        </init-param>
        <init-param>
            <param-name>dbDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>testDB</servlet-name>
        <servlet-class>utility.testDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>
</web-app>
